<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script defer src="/main.js"></script>

    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
